* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    background: #151515;
    font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

/* ЭКРАНЫ */
.screen {
    position: absolute;
    inset: 0;
    padding: 16px;
    padding-bottom: calc(70px + env(safe-area-inset-bottom));
    display: none;
    color: #fff;
}

.screen.active {
    display: block;
}

/* МЕНЮ */
.bottom-menu {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    height: calc(70px + env(safe-area-inset-bottom));
    padding-bottom: env(safe-area-inset-bottom);

    display: flex;
    background: rgba(30,30,30,0.85);
    backdrop-filter: blur(14px);
    border-top: 1px solid rgba(255,255,255,0.06);
}

.menu-item {
    flex: 1;
    background: none;
    border: none;
    color: #a6a6a6;
    font-size: 11px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-item img {
    width: 27px;
    height: 27px;
    margin-bottom: 4px;
    filter: grayscale(1) brightness(0.7);
}

.menu-item.active {
    color: #2c94ff;
}

.menu-item.active img {
    filter: none;
}
