* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #151515;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: hidden;
}

/* ===== Контент ===== */
#app {
    height: 100%;
    padding-bottom: 85px;
}

.screen {
    display: none;
    padding: 20px;
}

.screen.active {
    display: block;
}

/* ===== Нижнее меню ===== */
.bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    height: 85px;
    display: flex;

    background: rgba(30, 30, 30, 0.7);
    backdrop-filter: blur(12px);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

/* ===== Элемент меню ===== */
.menu-item {
    flex: 1;
    background: none;
    border: none;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 13px;
    gap: 6px;

    color: #a6a6a6;
}

/* ===== Текст ===== */
.menu-item .label {
    font-size: 11px;
    font-weight: 500;
}

/* ===== ИКОНКИ (MASK) ===== */
.icon {
    width: 27px;
    height: 27px;

    background-color: #a6a6a6;

    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}

/* Store */
.icon.store {
    -webkit-mask-image: url("https://storage.botpapa.me/icons/c6b9ea1a-8131-4634-94f5-c655a1b19238.webp");
    mask-image: url("https://storage.botpapa.me/icons/c6b9ea1a-8131-4634-94f5-c655a1b19238.webp");
}

/* Market */
.icon.market {
    -webkit-mask-image: url("https://storage.botpapa.me/icons/902a5d31-3655-4b4f-b5a0-ecc58e5bb746.webp");
    mask-image: url("https://storage.botpapa.me/icons/902a5d31-3655-4b4f-b5a0-ecc58e5bb746.webp");
}

/* Orders */
.icon.orders {
    -webkit-mask-image: url("https://storage.botpapa.me/icons/348f982a-f361-4f75-893f-d8aee1324246.webp");
    mask-image: url("https://storage.botpapa.me/icons/348f982a-f361-4f75-893f-d8aee1324246.webp");
}

/* Profile */
.icon.profile {
    -webkit-mask-image: url("https://storage.botpapa.me/icons/3ad826b7-6a67-42b8-94f8-64feee380c47.webp");
    mask-image: url("https://storage.botpapa.me/icons/3ad826b7-6a67-42b8-94f8-64feee380c47.webp");
}

/* ===== Активный пункт ===== */
.menu-item.active {
    color: #2c94ff;
}

.menu-item.active .icon {
    background-color: #2c94ff;
}
