* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #151515;
    color: #fff;
    overscroll-behavior: none;
    touch-action: manipulation;
    font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

/* ❌ Запрет масштабирования */
body {
    overflow: hidden;
}

/* Контент страницы */
.page {
    padding: 16px;
    padding-bottom: 86px;
}

h1 {
    margin: 0;
    font-size: 22px;
}

/* ===== МЕНЮ ===== */

.bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    height: 70px;

    background: rgba(30, 30, 30, 0.75);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border-top: 1px solid rgba(255, 255, 255, 0.05);

    display: flex;
    z-index: 1000;
}

.menu-item {
    flex: 1;
    text-align: center;
    text-decoration: none;

    color: #a6a6a6;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 11px;
}

.menu-item img {
    width: 27px;
    height: 27px;
    margin-bottom: 4px;
    filter: grayscale(1) brightness(0.7);
}

/* Активная вкладка */
.menu-item.active {
    color: #2c94ff;
}

.menu-item.active img {
    filter: none;
}
