* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    background: #151515;
    color: #fff;
    font-family: Arial, sans-serif;
}

.page {
    padding: 20px;
    padding-bottom: 80px;
}

h1 {
    font-size: 24px;
    margin: 0;
}

/* Нижнее меню */
.bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    height: 60px;
    background: #1f1f1f;
    border-top: 1px solid #2a2a2a;

    display: flex;
}

.menu-item {
    flex: 1;
    text-align: center;
    line-height: 60px;
    color: #aaa;
    text-decoration: none;
    font-size: 14px;
}

.menu-item.active {
    color: #3ea6ff;
}
